.grid {
  position: relative;
  width: 500px;
  height: 500px;
  border: solid black 1px;
}
body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  font-family: "Comfortaa", cursive;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* left: 100px; */
  /* top: 100px; */
  background-color: white;
}
.nav {
  width: 100%;
  background-color: #535353;
  justify-content: flex-end;
  display: flex;
}
.gitHub {
  border-radius: 9999px;
  margin: 5px;
  background: #ff2c6b;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Comfortaa";
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0;
}
.resetColor {
  margin: 2px;
  transition-duration: 0.4s;
  border: 1px solid #000000;
  border-radius: 99999px;
  padding: 5px;
  width: 100%;
  background-color: #fff;
}

.resetColor:hover {
  background-color: #ff2c6b; /* Green */
  color: white;
  border: 1px solid #ff2c6b;
}
